*.res
*.trc
*.lps
*.bat
*.DS_Store
backup/
build/
lib/
/ssleay32.dll
/libeay32.dll
/libcrypto.so
/libssl.so
/libssl.dylib
/libcrypto.dylib
/Includes/
/Plugins/
/Scripts/
/Data/
/Fonts/
/Simba-*
/SimbaAssociate.exe
/SimbaAssociate
/SimbaScript.exe
/SimbaScript
/Projects/SimbaAssociate/SimbaAssociate.exe
/Projects/SimbaAssociate/SimbaAssociate
/Projects/SimbaResources/MakeSimbaResources.exe
/Projects/SimbaResources/MakeSimbaResources
/Projects/SimbaScript/SimbaScript.exe
/Projects/SimbaScript/SimbaScript
