*.bak
*.ppu
*.o
*.compiled
*.or
*.s
^Doc\/sphinx\/\_build
*.res
*.pyc
*.log
*.trc
*.exe
*.lps
backup/
build/
lib/
/Projects/SimbaResources/OpenSSL.zip
/Projects/SimbaResources/SimbaScript.zip
/Projects/SimbaScript/SimbaScript
/SimbaScript
/ssleay32.dll
/libeay32.dll
/libcrypto.so
/libssl.so
/Includes/
/Plugins/
/Scripts/
/Data/
/Fonts/
ppas.bat
/Simba-x86_64-darwin
/Simba-x86_64-darwin.app
/Simba-x86_64-darwin.dSYM
/Simba-x86_64-linux
.DS_Store
/Projects/SimbaResources/MakeSimbaResources
