ppas.bat
*.res
*.trc
*.lps
*.DS_Store
backup/
build/
lib/
/ssleay32.dll
/libeay32.dll
/libcrypto*
/libssl*
/Includes/
/Plugins/
/Scripts/
/Data/
/Fonts/
/Simba*
/Projects/SimbaResources/SimbaResources.exe
/Projects/SimbaResources/SimbaResources
/Projects/SimbaScript/SimbaScript.exe
/Projects/SimbaScript/SimbaScript