Bart de Boer <bartdeboer92@hotmail.com>

Benjamin Land <benland100@gmail.com> BenLand100 <BenLand100@3f818213-9676-44b0-a9b4-5e4c4e03d09d>
Benjamin Land <benland100@gmail.com> Benjamin Land <benland100@blandmac.(none)>

Benjamin Lee <ben@tgeel.com>

Cohen Adair <cohenadair@gmail.com>

David Thompson <soldier_of_louisiana@yahoo.com> GitBraK <soldier_of_louisiana@yahoo.com>

Daniel Collis <mayazcherquoi@gmail.com> U-Daniel-PC\Daniel <Daniel@Daniel-PC.(none)>

Raymond van Venetië <Ray@villavu.com> Raymond <Raymond@.(none)>
Raymond van Venetië <Ray@villavu.com> Raymond <Ray@villavu.com>
Raymond van Venetië <Ray@villavu.com> Raymond <Raymond@3f818213-9676-44b0-a9b4-5e4c4e03d09d>
Raymond van Venetië <Ray@villavu.com> Raymond <Raymond@RAYMOND.(none)>
Raymond van Venetië <Ray@villavu.com> Raymond <rayvanve@villavu.com>
Raymond van Venetië <Ray@villavu.com> unknown <Raymond@.(none)>
Raymond van Venetië <Ray@villavu.com> mastaraymond <rayvanve@gmail.com>

Kevin Brightwell <nava2@live.ca> Kevin Brightwell <kevin@n2-desktop.(none)>
Kevin Brightwell <nava2@live.ca> Nava2 <Nava2@3f818213-9676-44b0-a9b4-5e4c4e03d09d>
Kevin Brightwell <nava2@live.ca> Kevin B <nava2@live.ca>
Kevin Brightwell <nava2@live.ca> Nava2 <nava2@live.ca>

Kyle Wollaston <kwollaston@live.com>

Harry Strongburg <github-nomail@harry.lu> h <h@h-laptop.(none)>

Jack Shannon <jackshannon1@googlemail.com>

John Peel <john@dgby.org> Dgby714 <Dgby714@aol.com>
John Peel <john@dgby.org> John P (Dgby714) <Dgby714@aol.com>
John Peel <john@dgby.org> John P (Dgby714) <Dgby714@gmail.com>
John Peel <john@dgby.org> John Peel <Dgby714@aol.com>
John Peel <john@dgby.org> John Peel <dgby714@gmail.com>
John Peel <john@dgby.org> John Peel <Dgby714@gmail.com>

Jorge Valderrama <cazax.wins@gmail.com> Cazax <cazax.wins@gmail.com>
Jorge Valderrama <cazax.wins@gmail.com> Cazax <Cazax@3f818213-9676-44b0-a9b4-5e4c4e03d09d>

Markus Janse <markusjanse@gmail.com> Markus <Markus@3f818213-9676-44b0-a9b4-5e4c4e03d09d>
Markus Janse <markusjanse@gmail.com> Mark Janse <markusjanse@gmail.com>

Merlijn Wajer <merlijn@wizzup.org> Merlijn Wajer <merlijn.wajer@xs4all.nl>
Merlijn Wajer <merlijn@wizzup.org> Merlijn <merlijn@wajer.org>
Merlijn Wajer <merlijn@wizzup.org> Merlijn Wajer <merlijn@wajer.org>
Merlijn Wajer <merlijn@wizzup.org> Wizzup? <Wizzup?@3f818213-9676-44b0-a9b4-5e4c4e03d09d>

Niels A.D. <niels.a.d@gmail.com> Niels <nielsie95>
Niels A.D. <niels.a.d@gmail.com> nielsie95 <nielsie95>
Niels A.D. <niels.a.d@gmail.com> nielsie95 <nielsie95@3f818213-9676-44b0-a9b4-5e4c4e03d09d>
Niels A.D. <niels.a.d@gmail.com> unknown <Niels Doekemeijer@.(none)>
Niels A.D. <niels.a.d@gmail.com> Niels AD <niels.a.d@gmail.com>
Niels A.D. <niels.a.d@gmail.com> Niels <niels.a.d@gmail.com>

Sid Spry <R030t1@gmail.com> R0b0t1 <R030t1@gmail.com>

Thomas Augood <shuttleu@gmail.com>

Trenton Smith <tlsdude@gmail.com> mormonman <tlsdude@gmail.com>


# Renames, without real name (less important)
Richard <bentzilla@fsscripts.com> Bentzilla <bentzilla@fsscripts.com>
bullzeye95 <unknown> bullzeye95 <bullzeye95@3f818213-9676-44b0-a9b4-5e4c4e03d09d>

# Unknowns
unknown <unknown> unknown <Administrator@.(none)>
