<?xml version="1.0" encoding="utf-8"?>
<Simba>
  <Extensions>
    <ExtensionCount>0</ExtensionCount>
  </Extensions>
  <Settings>
    <Includes>
      <Path>E:\Coding\Simba\Includes\</Path>
    </Includes>
    <Fonts>
      <Path>E:\Coding\Simba\Fonts\</Path>
      <LoadOnStartUp>True</LoadOnStartUp>
      <Version>13</Version>
      <VersionLink>http://simba.villavu.com/bin/Fonts/Version</VersionLink>
      <UpdateLink>http://simba.villavu.com/bin/Fonts/Fonts.tar.bz2</UpdateLink>
    </Fonts>
    <Extensions>
      <Path>E:\Coding\Simba\Extensions\</Path>
      <FileExtension>sex</FileExtension>
    </Extensions>
    <Scripts>
      <Path>E:\Coding\Simba\Scripts\</Path>
    </Scripts>
    <FunctionList>
      <ShowOnStart>True</ShowOnStart>
    </FunctionList>
    <Tray>
      <AlwaysVisible>True</AlwaysVisible>
    </Tray>
    <Interpreter>
      <Type>0</Type>
      <AllowSysCalls>False</AllowSysCalls>
    </Interpreter>
    <SourceEditor>
      <DefScriptPath>E:\Coding\Simba\default.simba</DefScriptPath>
      <LazColors>True</LazColors>
    </SourceEditor>
    <News>
      <URL>http://simba.villavu.com/bin/news</URL>
    </News>
    <Plugins>
      <Path>E:\Coding\Simba\Plugins\</Path>
    </Plugins>
    <Tabs>
      <OpenNextOnClose>False</OpenNextOnClose>
      <OpenScriptInNewTab>True</OpenScriptInNewTab>
      <CheckTabsBeforeOpen>True</CheckTabsBeforeOpen>
    </Tabs>
    <General>
      <MaxRecentFiles>10</MaxRecentFiles>
    </General>
    <Updater>
      <CheckForUpdates>True</CheckForUpdates>
      <AutomaticallyUpdate>True</AutomaticallyUpdate>
      <RemoteVersionLink>http://simba.villavu.com/bin/Windows/x86_64/Stable/Version</RemoteVersionLink>
      <RemoteLink>http://simba.villavu.com/bin/Windows/x86_64/Stable/Simba.exe</RemoteLink>
      <CheckEveryXMinutes>30</CheckEveryXMinutes>
    </Updater>
    <ColourPicker>
      <AddToHistoryOnPick>True</AddToHistoryOnPick>
      <ShowHistoryOnPick>True</ShowHistoryOnPick>
    </ColourPicker>
    <CodeHints>
      <ShowAutomatically>True</ShowAutomatically>
    </CodeHints>
    <CodeCompletion>
      <ShowAutomatically>True</ShowAutomatically>
    </CodeCompletion>
    <MainForm>
      <NormalSize>739:555</NormalSize>
    </MainForm>
  </Settings>
  <LastConfig>
    <MainForm>
      <Position></Position>
      <State>normal</State>
      <FunctionListShown>False</FunctionListShown>
    </MainForm>
  </LastConfig>
</Simba>
