<?xml version="1.0"?>
<Simba>
  <Extensions>
    <ExtensionCount>14</ExtensionCount>
    <Extension0>
      <Path>E:\Coding\Simba\Extensions\associate.sex</Path>
      <Enabled>False</Enabled>
    </Extension0>
    <Extension1>
      <Path>E:\Coding\Simba\Extensions\CRov.sex</Path>
      <Enabled>False</Enabled>
    </Extension1>
    <Extension2>
      <Path>E:\Coding\Simba\Extensions\dtm_editor.sex</Path>
      <Enabled>False</Enabled>
    </Extension2>
    <Extension3>
      <Path>E:\Coding\Simba\Extensions\extension.sex</Path>
      <Enabled>False</Enabled>
    </Extension3>
    <Extension4>
      <Path>E:\Coding\Simba\Extensions\formatter.sex</Path>
      <Enabled>False</Enabled>
    </Extension4>
    <Extension5>
      <Path>E:\Coding\Simba\Extensions\paster.sex</Path>
      <Enabled>False</Enabled>
    </Extension5>
    <Extension6>
      <Path>E:\Coding\Simba\Extensions\security.sex</Path>
      <Enabled>False</Enabled>
    </Extension6>
    <Extension7>
      <Path>E:\Coding\Simba\Extensions\sps.sex</Path>
      <Enabled>False</Enabled>
    </Extension7>
    <Extension8>
      <Path>E:\Coding\Simba\Extensions\srl.sex</Path>
      <Enabled>False</Enabled>
    </Extension8>
    <Extension9>
      <Path>E:\Coding\Simba\Extensions\SRLRemote.sex</Path>
      <Enabled>False</Enabled>
    </Extension9>
    <Extension10>
      <Path>E:\Coding\Simba\Extensions\srl_player_remote.sex</Path>
      <Enabled>False</Enabled>
    </Extension10>
    <Extension11>
      <Path>E:\Coding\Simba\Extensions\test.sex</Path>
      <Enabled>False</Enabled>
    </Extension11>
    <Extension12>
      <Path>E:\Coding\Simba\Extensions\test2.sex</Path>
      <Enabled>False</Enabled>
    </Extension12>
    <Extension13>
      <Path>E:\Coding\Simba\Extensions\test3.sex</Path>
      <Enabled>False</Enabled>
    </Extension13>
  </Extensions>
  <Settings>
    <Includes>
      <Path>E:\Coding\Simba\Includes\</Path>
    </Includes>
    <Fonts>
      <Path>E:\Coding\Simba\Fonts\</Path>
      <LoadOnStartUp>True</LoadOnStartUp>
      <Version>13</Version>
      <VersionLink>http://simba.villavu.com/bin/Fonts/Version</VersionLink>
      <UpdateLink>http://simba.villavu.com/bin/Fonts/Fonts.tar.bz2</UpdateLink>
    </Fonts>
    <Extensions>
      <Path>E:\Coding\Simba\Extensions\</Path>
      <FileExtension>sex</FileExtension>
    </Extensions>
    <Scripts>
      <Path>E:\Coding\Simba\Scripts\</Path>
    </Scripts>
    <FunctionList>
      <ShowOnStart>True</ShowOnStart>
    </FunctionList>
    <Tray>
      <AlwaysVisible>True</AlwaysVisible>
    </Tray>
    <Interpreter>
      <Type>0</Type>
      <AllowSysCalls>False</AllowSysCalls>
    </Interpreter>
    <SourceEditor>
      <DefScriptPath>E:\Coding\Simba\default.simba</DefScriptPath>
      <LazColors>True</LazColors>
    </SourceEditor>
    <News>
      <URL>http://simba.villavu.com/bin/news</URL>
    </News>
    <Plugins>
      <Path>E:\Coding\Simba\Plugins\</Path>
    </Plugins>
    <Tabs>
      <OpenNextOnClose>False</OpenNextOnClose>
      <OpenScriptInNewTab>True</OpenScriptInNewTab>
      <CheckTabsBeforeOpen>True</CheckTabsBeforeOpen>
    </Tabs>
    <General>
      <MaxRecentFiles>10</MaxRecentFiles>
    </General>
    <Updater>
      <CheckForUpdates>True</CheckForUpdates>
      <AutomaticallyUpdate>True</AutomaticallyUpdate>
      <RemoteVersionLink>http://simba.villavu.com/bin/Windows/x86_64/Stable/Version</RemoteVersionLink>
      <RemoteLink>http://simba.villavu.com/bin/Windows/x86_64/Stable/Simba.exe</RemoteLink>
      <CheckEveryXMinutes>30</CheckEveryXMinutes>
    </Updater>
    <ColourPicker>
      <AddToHistoryOnPick>True</AddToHistoryOnPick>
      <ShowHistoryOnPick>True</ShowHistoryOnPick>
    </ColourPicker>
    <CodeHints>
      <ShowAutomatically>True</ShowAutomatically>
    </CodeHints>
    <CodeCompletion>
      <ShowAutomatically>True</ShowAutomatically>
    </CodeCompletion>
    <MainForm>
      <NormalSize>739:555</NormalSize>
    </MainForm>
  </Settings>
  <LastConfig>
    <MainForm>
      <Position>53:42:660:623</Position>
      <State>normal</State>
      <FunctionListShown>False</FunctionListShown>
    </MainForm>
  </LastConfig>
</Simba>
