
  body:not([data-theme="light"]) .highlight .nc {
	  text-decoration: none;
  }
  body:not([data-theme="dark"]) .highlight .nc {
	  text-decoration: none;
  }

  h1 {
	  font-size: 1.75em;
  }
  h2 {
	  font-size: 1em;
  }
