"array.simba" RCDATA "array.simba"
"bitmap.simba" RCDATA "bitmap.simba"
"function.simba" RCDATA "function.simba"
"loop.simba" RCDATA "loop.simba"
"procedure.simba" RCDATA "procedure.simba"
"timing.simba" RCDATA "timing.simba"
